Repository bobanetwork/boba_legacy, changes with the labels that .github/labeler.yml gives for each.
All labels: 2-reviewers, M-ci, M-l2geth, M-integration, M-batch-submitter, M-contracts, M-core-utils, M-dtl, M-ops

.github/labeler.yml:

---
2-reviewers:
  - '.github/**/*'
  - 'l2geth/**/*'
  - 'ops/**/*'
  - 'packages/batch-submitter/**/*'
  - 'packages/contracts/**/*'
  - 'packages/data-transport-layer/**/*'
  - 'packages/message-relayer/**/*'
  - 'patches/**/*'

M-ci:
  - any: ['.github/**/*']

M-l2geth:
  - any: ['l2geth/**/*']

M-integration:
  - any: ['integration-tests/**/*']

M-batch-submitter:
  - any: ['packages/batch-submitter/**/*']

M-contracts:
  - any: ['packages/contracts/**/*']

M-core-utils:
  - any: ['packages/core-utils/**/*']

M-dtl:
  - any: ['packages/data-transport-layer/**/*']

M-ops:
  - any: ['ops/**/*']

Restore labeler file location
  .github/workflows/labeler.yml
Labels: 2-reviewers, M-ci

Bump up node version to v18
  ops/docker/hardhat/Dockerfile
Labels: 2-reviewers, M-ops

Bump up node version to v18 (#1356)
  ops/docker/hardhat/Dockerfile
Labels: 2-reviewers, M-ops

chore: Add user-facing LightBridge documentation
  .gitbook/assets/LightBridge-Flow.png
  SUMMARY.md
  for-developers/boba-basics/bridge-basics/light-bridge.md
Labels: none

chore: Add user-facing LightBridge documentation
  .gitbook/assets/LightBridge-TabsGateway.png
  for-developers/boba-basics/bridge-basics/light-bridge.md
Labels: none

Update light-bridge.md
  for-developers/boba-basics/bridge-basics/light-bridge.md
Labels: none

chore: Add user facing LightBridge docs (#1357)
  .gitbook/assets/LightBridge-Flow.png
  .gitbook/assets/LightBridge-TabsGateway.png
  SUMMARY.md
  for-developers/boba-basics/bridge-basics/light-bridge.md
Labels: none

Update erigon version to v1.1.1
  for-developers/node-operators/software-release.md
Labels: none

Update price from CoinGecko
  packages/boba/gas-price-oracle/src/service.ts
Labels: none

Fix price 0 logic
  packages/boba/gas-price-oracle/src/service.ts
Labels: none

Remove eslint comment
  packages/boba/gas-price-oracle/src/service.ts
Labels: none

Update price from CoinGecko (#1367)
  packages/boba/gas-price-oracle/src/service.ts
Labels: none

Add ETH dump
  l2geth/core/state/statedb.go
  l2geth/core/vm/evm.go
  l2geth/ethdumper/dumper.go
  l2geth/ethdumper/dumper_test.go
Labels: 2-reviewers, M-l2geth

Fix lint
  l2geth/ethdumper/dumper.go
Labels: 2-reviewers, M-l2geth

chore: Update subgraph.md docs
  for-developers/features/subgraph.md
Labels: none

Add ETH dump (#1373)
  l2geth/core/state/statedb.go
  l2geth/core/vm/evm.go
  l2geth/ethdumper/dumper.go
  l2geth/ethdumper/dumper_test.go
Labels: 2-reviewers, M-l2geth

docs: add banner for fee token switching
  boba_examples/boba-fee/README.md
  boba_examples/boba-fee/gitbook-banner-feeToken.png
Labels: none

Update doc for Anchorage Changes to be committed: modified: boba_community/fraud-detector/README.md
  boba_community/fraud-detector/README.md
Labels: none

chore: Verify contracts docs
  .gitbook/assets/verifying contracts with blockscout.png
  for-developers/boba-basics/verify-smart-contracts.md
Labels: none

Add simple script to find pending messages
  packages/boba/message-relay-check/.env.example
  packages/boba/message-relay-check/index.js
  packages/boba/message-relay-check/package.json
  yarn.lock
Labels: none

Update subgraph endpoints
  .gitignore
  packages/boba/subgraph/L1/rollup/config/bobaavax.json
  packages/boba/subgraph/L1/rollup/config/bobabase.json
  packages/boba/subgraph/L1/rollup/config/bobabeam.json
  packages/boba/subgraph/L1/rollup/config/bobaopera.json
  packages/boba/subgraph/L1/rollup/config/bobaoperatestnet.json
  packages/boba/subgraph/L1/rollup/config/fuji.json
  packages/boba/subgraph/L1/rollup/package.json
  packages/boba/subgraph/L1/rollup/subgraph.template.addressManager.yaml
  packages/boba/subgraph/L1/rollup/subgraph.template.rollup.yaml
  packages/sdk/.env.example
  packages/sdk/package.json
  packages/sdk/src/utils/graph.ts
  packages/sdk/test/utils/graph.spec.ts
  yarn.lock
Labels: none

Disable gas price oracle test
  packages/boba/gas-price-oracle/test/gas-price-oracle-alt-l1.spec.ts
Labels: none

Fix batch_submitter for integration test
  .github/workflows/labeler.yml
  go/batch-submitter/drivers/proposer/driver.go
  go/batch-submitter/drivers/sequencer/driver.go
  go/bss-core/drivers/clear_pending_tx.go
  go/bss-core/drivers/max_priority_fee_fallback.go
Labels: 2-reviewers, M-ci
